<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redis._08springredis.UserRepo">
  
  <resultMap id="base_result_map" type="com.redis._08springredis.User">
    <!--jdbcType的定义见org.apache.ibatis.type.JdbcType-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="age" jdbcType="INTEGER" property="age"/>
  </resultMap>
  
  <sql id="base_column_list">
    id,phone,name,age
  </sql>
  <insert id="createUser" parameterType="com.redis._08springredis.User" useGeneratedKeys="true" keyProperty="id">
    insert into user(phone, name, age) values(#{phone},#{name},#{age})
  </insert>
  <select id="retrieveUserById" resultType="com.redis._08springredis.User">
    select <include refid="base_column_list"/>
    from user where id = #{id}
  </select>
  <select id="retrieveUserByPhone" resultType="com.redis._08springredis.User">
    select <include refid="base_column_list"/>
    from user where phone = #{phone}
  </select>
  <update id="updateUserById">
    update user
    <set>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="age != null">
        age = #{age}
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateUserByPhone">
    update user
    <set>
      <if test="phone != null">
        phone = #{phone},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="age != null">
        age = #{age}
      </if>
    </set>
    where phone = #{phone}
  </update>
  <delete id="deleteUserById">
    delete from user
    where id = #{id}
  </delete>
  <delete id="deleteUserByPhone">
    delete from user
    where phone = #{phone}
  </delete>


</mapper>