<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <!-- 需要下载到本地maven仓库 -->
    <classPathEntry location="/Users/xxxxx/.m2/repository/mysql/mysql-connector-java/5.1.31/mysql-connector-java-5.1.31.jar"/>
    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>
        <!-- 数据库链连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/ssmr?useUnicode=true&amp;zeroDateTimeBehavior=convertToNull" userId="root" password="xxxxx999"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- java bean model设置 -->
        <javaModelGenerator targetPackage="com.redpacket.model" targetProject="/Users/xxxxx/Documents/DEVELOPER/IDEA/JavaLearning/redpacket/src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>
        <!-- mapper.xml文件生成位置 -->
        <sqlMapGenerator targetPackage="/" targetProject="/Users/xxxxx/Documents/DEVELOPER/IDEA/JavaLearning/redpacket/src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!-- mapper.java文件的生成位置，会在java/下创建com.company.project.dao -->
        <javaClientGenerator targetPackage="com.redpacket.repository" targetProject="/Users/xxxxx/Documents/DEVELOPER/IDEA/JavaLearning/redpacket/src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <!-- 配置表名 -->
        <!--@SqlTable("application") -->
        <table tableName="redpacket_record" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"
               enableInsert="true" enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"/>
        <table tableName="redpacket_user" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"
               enableInsert="true" enableDeleteByPrimaryKey="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"/>

    </context>
</generatorConfiguration>