<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  
  <!--使用两种方式配置properties-->
  <properties resource="jdbc.properties">
    <property name="db.driver" value="com.mysql.jdbc.Driver"/>
    <property name="db.url" value="jdbc:mysql://localhost:3306/ssmr"/>
    <!--由于优先级较低，被properties文件中的同名配置覆盖-->
    <property name="db.username" value="hedefu"/>
  </properties>
  
  <settings>
    <setting name="logImpl" value="STDOUT_LOGGING"/>
    
    <setting name="cacheEnabled" value="true"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="defaultEnumTypeHandler" value="org.apache.ibatis.type.EnumTypeHandler"/>
    <setting name="logPrefix" value="hedefu -："/>
    <setting name="callSettersOnNulls" value="true"/>
  </settings>
  
  <typeAliases>
    <!--类型别名：在mapper.xml中直接使用别名-->
    <!--<typeAlias type="com.hedefu.mybatis.model.Role" alias="role"/>-->
    <package name="com.hedefu.mybatis.model"/>
    <package name="com.hedefu.mybatis.qto"/>
  </typeAliases>
  
  <plugins>
<!--    <plugin interceptor="com.mybatis.chapter08.SimplePlugin">-->
<!--      <property name="dbType" value="mysql"/>-->
<!--    </plugin>-->
    <plugin interceptor="com.mybatis.chapter08.PagePlugin">
      <property name="default.pageSize" value="3"/>
      <property name="default.pageIndex" value="1"/>
      <property name="default.activeStatus" value="true"/>
      <property name="default.checkPageIndex" value="true"/>
      <property name="default.cleanOrderby" value="true"/>
    </plugin>
<!--    <plugin interceptor="com.mybatis.chapter08.PagePlugin2">-->
<!--      <property name="default.page" value="1" />-->
<!--      <property name="default.pageSize" value="3" />-->
<!--      <property name="default.useFlag" value="true" />-->
<!--      <property name="default.checkFlag" value="true" />-->
<!--      <property name="default.cleanOrderBy" value="true" />-->
<!--    </plugin>-->
  </plugins>
  
  <!--<objectFactory type="com.hedefu.mybatis.objectFactory.MyObjectFactory">-->
    <!--<property name="propStr" value="hedefu"/>-->
  <!--</objectFactory>-->
  
  <environments default="dev">
    <environment id="dev">
      <transactionManager type="com.hedefu.mybatis.transaction.MyTransactionFactory"/>
      <!--采用mybatis内部提供的连接池方式-->
      <dataSource type="POOLED">
        <property name="driver" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!--<databaseIdProvider type="DB_VENDOR">-->
    <!--<property name="Oracle" value="oracle"/>-->
    <!--<property name="MySQL" value="mysql"/>-->
    <!--<property name="DB2" value="db2"/>-->
  <!--</databaseIdProvider>-->
  
  <!--<databaseIdProvider type="com.hedefu.mybatis.databaseProvider.MyDatabaseIdProvider">-->
    <!--<property name="author" value="hedefu"/>-->
  <!--</databaseIdProvider>-->
  
  <mappers>
    <!--<mapper resource="mapper/TestBlobMapper.xml"/>-->
    <!--<mapper url="file:/Users/hedefu/Documents/WorkSpace/IDEA/JavaSSMR/mybatis/src/main/resources/mapper/RoleMapper.xml"/>-->
    <!--<mapper class="com.hedefu.mybatis.mapper.TestUserMapper"/>-->
    <!--<mapper class="com.hedefu.mybatis.mapper.UserInfoMapper"/>-->
    
    <!--直接规范地设置mapper.xml存储路径-->
    <package name="com.hedefu.mybatis.mapper"/>
  </mappers>
  
</configuration>