<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmr.txpractice.mapper.RoleMapper">
    <resultMap id="base_result_map" type="com.ssmr.txpractice.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="note" column="note"/>
    </resultMap>
    <insert id="insertRole">
        insert into role(name, age, note) values
        (#{name},#{age},#{note})
    </insert>
    <update id="updateRole">
        update role
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="note != null">
                note = #{note}
            </if>
        </set>
    </update>
    <delete id="deleteRole">
        delete from role
        where id = #{id}
    </delete>
    <select id="selectRole" resultMap="base_result_map">
        select id,`name`,age,note
        from role where id = #{id}
    </select>
    <select id="selectByIds" resultType="com.ssmr.txpractice.Role">
        select * from role
        <where>
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>